<html>
<body>
<head>
 <link rel="stylesheet" href="assets/acrescimos.css">
</head>            
  <div class="Rectangle2"> 
    <%= image_tag "coffee.svg", class: 'coffee' %>

    <div class="Smart-coffee">
      <p>Smart Coffee</p>
    </div>

    <div class="by-Alboom">
      <p>by Alboom</p>
    </div>

    <div class="Line">
    </div>

    <div class="Adicione-complemento" 
      <p>Adicione complementos ao seu pedido</p>       
     </div> 

    <!--Bloco Produto -->
    <div class="Product-Selected ">
      <img src="/assets/cafe-duplo.svg" class="cafe-img"  />
      <div class="label-produto"> 
        <p>Café Duplo</p>       
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke" />  
      <div class="-min" 
        <h3>0:45 min</h3>  
      </div>
    </div> 
    <!--Fim Bloco Produto -->
    
    <!--Bloco acrescimos -->
    <!--Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/acucar.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Açucar</p>      
      </div> 

      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>0:30 min</p>  
      </div>         
    </div>
    <!--Fim Bloco ingrediente -->

    <!--Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/leite.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Leite </p>      
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>0:20 min</p>  
      </div>         
    </div>
    <!--Fim Bloco ingrediente -->

    <!--Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/chantilly.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Chantilly</p>      
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>0:55 min</p>  
      </div>   
      <div class="Line-breakk">
      </div>      
    </div>
    <!--Fim Bloco ingrediente -->
    <!--Fim Bloco acrescimos -->

    <!--Bloco Produto -->
    <div class="Product-Selected ">
      <img src="/assets/cafe-americano.svg" class="cafe-img"  />
      <div class="label-produto"> 
       <p>Café Duplo</p>       
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min" 
        <h3>0:45 min</h3>  
      </div>
    </div> 
    <!--Fim Bloco Produto -->

    <!--Bloco acrescimos -->
    <!--Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/acucar.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Açucar</p>      
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>0:30 min</p>  
      </div>         
    </div>
    <!--Fim Bloco ingrediente -->

    <!-- Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/cupcake.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Cupcake</p>      
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>0:20 min</p>  
      </div>         
    </div>
    <!--Fim Bloco ingrediente -->

    <!-- Bloco ingrediente -->
    <div>
      <input type="checkbox" class="Oval">
      <img src="/assets/cookie.svg" class="ingred-img"/>
      <div class="label-acrescimos" 
        <p>Cookie</p>      
      </div> 
      <img src="/assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time"  />  
      <div class="-min-acrescimos"> 
        <p>1:30 min</p>  
      </div>         
    </div>
    <!--Fim Bloco ingrediente -->
    <!--Fim Bloco acrescimos -->

    <!--Botão Finalizar -->
    <button onclick="window.location.href='/smart_coffee/final'" class="Finalize_button">
      <p class="Btn-Texte ">FINALIZAR
      </p> 
    </button>
    <!--Fim Botão Finalizar -->

    <!--Botão Voltar -->
    <button onclick="window.location.href='/smart_coffee/produtos'" class="Back-button">
      <p class="Btn-Texte ">VOLTAR
      </p> 
    </button>
    <!--Fim Botão Voltar -->
  </div>

</body>
</html>