<html>
<body> 
<head>
  <link rel="stylesheet" href="assets/final.css">
</head>
            
    <!--Bloco Pagina -->          
  <div class="Rectangle"> 
    <%= image_tag "coffee.svg", class: 'coffee' %>
    <div class="Smart-coffee">
      <p>Smart Coffee</p> 
    </div>
    <div class="by-Alboom">
      <p>by Alboom</p>
    </div>
    <div class="Line">
    </div>

    <div class="Pedido-realizado-com" 
      <p>Pedido realizado com sucesso</p>       
     </div> 
    <div class="cupom">
      <p>Cupom: I#DO$PWPL</p>
    </div>
     <button onclick="window.location.href='http://localhost:3000'" class="back-btn"> 
      <img src="/assets/back.png" />
     </button>
     <button onclick="window.location.href='http://localhost:3000'" class="print-btn"> 
      <p class="Default">IMPRIMIR</p>
     </button>
  </div>
  <!--Fim Bloco pagina -->  
</body>
</html>

