<html>
<body>
            
  <div class="Rectangle"> 
    <%= image_tag "coffee.svg", class: 'coffee' %>

    <div class="Default">
      <label> Nome Completo</label>
      <input class="Base_ghost" > 
    </div>

    <div class="Default">
      <label>Email</label>
      <input class="Base_ghost" > 
    </div>

    <button class="Base_buttons">
      <p class="Label_btn">CADASTRAR
      </p> 
  </button>
  
  </div>

</body>
</html>