<html>
</head>
  <link rel="stylesheet" href="assets/login.css">
</head>
<body>
  <!--Bloco Cadastro Cliente -->              
  <div class="Rectangle">
    <form>
      <%= image_tag "coffee.svg", class: 'coffee' %>
      <label class="label"> Nome Completo</label>
      <input type="text" class="Base_ghost" required="required" >
      <label class="label">Email</label>
      <input type="email" class="Base_ghost"  required="required">
      <button onclick="window.location.href='/smart_coffee/produtos'" class="Base_buttons"> 
        <p class="Label-btn">CADASTRAR</p> 
      </button>
    </form>
  </div>
  <!--Fim Bloco Cadastro Cliente -->  
</body>
</html>

