<html>
<body>

  <!--Bloco Pagina -->          
  <div class="Rectangle"> 
    <%= image_tag "coffee.svg", class: 'coffee' %>

    <div class="Smart-coffee">
      <p>Smart Coffee</p>
    </div>

    <div class="by-Alboom">
      <p>by Alboom</p>
    </div>

    <div class="Line">
    </div>

    <!--Bloco Produto -->
    <div class="Product">
      <img src="assets/check-empty.svg" class="Oval">
      <img src="assets/cafe-duplo.svg" class="cafe-img"  />
      <div class="Donuts---Super-reche" 
        <p>Café Duplo</p>       
      </div> 
      <img src="assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min" 
        <h3>0:45 min</h3>  
      </div>     
      <div class="Line-break">
      </div>
    </div>
    <!--Fim Bloco Produto -->

    <!--Bloco Produto -->
    <div class="Product">
      <img src="assets/check-empty.svg" class="Oval">
      <img src="assets/coffee.svg" class="cafe-img"  />
      <div class="Donuts---Super-reche" 
        <p>Café Duplo</p>    
      </div>  
      <img src="assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min" 
        <h3>0:45 min</h3>   
      </div>   
      <div class="Line-break">
      </div>
    </div>
    <!--Fim Bloco Produto -->

    <!--Bloco Produto -->
    <div class="Product">
      <img src="assets/check-empty.svg" class="Oval">
      <img src="assets/mocha.svg" class="cafe-img"  />
      <div class="Donuts---Super-reche" 
        <p>Café Duplo</p>    
      </div>  
      <img src="assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min" 
        <h3>0:45 min</h3>   
      </div>   
      <div class="Line-break">
      </div>
    </div>
    <!--Fim Bloco Produto -->

    <!--Bloco Produto -->
    <div class="Product">
      <img src="assets/check-empty.svg" class="Oval">
      <img src="assets/cafe-americano.svg" class="cafe-img"  />
      <div class="Donuts---Super-reche" <p>
        Café Duplo</p>    
      </div>  
      <img src="assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min" 
        <h3>0:45 min</h3>   
      </div>   
      <div class="Line-break">
      </div>
    </div>
    <!--Fim Bloco Produto -->

    <!--Bloco Produto -->
    <div class="Product">
      <img src="assets/check-empty.svg" class="Oval">
      <img src="assets/cappuccino.svg" class="cafe-img"  />
      <div class="Donuts---Super-reche" 
        <p>Café Duplo</p>    
      </div>  
      <img src="assets/circle-backup-time-history-recent-time-machine-outline-stroke.svg" class="circle_backup_time_history_recent_time-machine_outline_stroke"  />  
      <div class="-min"
       <h3>0:45 min</h3>   
      </div>   
      <div class="Line-break">
      </div>
    </div>
    <!--Fim Bloco Produto -->

    <!--Botão Continuar --> 
    <button class="Base_buttons">
      <p class="Default">CONTINUAR
      </p> 
    </button>
    <!--Fim Botão Continuar --> 
  </div>
  <!--Fim  Pagina --> 

</body>
</html>
