body {
    background-color: #838383;
  }
  
  .loginContainer {
    background-color: #f4f4f4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #969696;
  }
  
  .loginContainer img {
    width: 200px;
    margin-bottom: 1.5rem;
  }
  
  .loginInfos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .loginInfos input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.67);
  }
  
  .loginInfos button {
      padding: 10px;
      border: none;
      background-color: #34495E;
      color: white;
      margin-top: 1rem;
  }
  
  .loginInfos button:hover {
      background-color: #293847;
      cursor: pointer;
  }